* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: lightblue;
}

.App {
    height: 95vh;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizDiv {
    background-color: #06113C;
    color: white;
    border: 2px solid;
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;

}


.top>h1 {
    margin-right: 15px;

}

.maxQo {
    font-weight: bold;
    font-size: large;

}

.mid {
    flex: 0.6;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 10px;

}

.mid>h3 {
    font-size: 25px;
    font-weight: 450;
}

.end {
    flex: 0.4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 10px; */
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 100%;
    padding: 2px;
    height: 100%;

}

.options>div {
    margin-bottom: 15px;
}

.options>div>button {
    background-color: #15a81cda;
    color: white;
    width: 200px;
    margin: 2px;
    border-radius: 10px;
    height: 35px;
    font-size: 15px;
    font-weight: 500;

}

.options>div>button:hover {
    background-color: green;
}

@media only screen and (max-width: 1440px) {
    .quizDiv {
        width: 44%;
        height: 60%;
    }
}

@media only screen and (max-width: 958px) {
    .quizDiv {
        width: 44%;
        height: 70%;
    }
}

@media only screen and (max-width: 471px) {


    .options>div>button {
        width: 150px;
        /* height: 35px; */
    }
    .mid>h3 {
        font-size: 21px;
        font-weight: 400;
    }
}

@media only screen and (max-width: 452px) {
    body{
        background-color: green;
    }

    .top>h1 {
        font-size: 20px;
    }
    
}